/*GENERAL RULE STYLE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Montserrat";
    font-size: 12px;
}

/*TOP*/
/*TOOLBAR*/
#toolbar {
    width: 200px;
    height: 100vh;
    background-color: black;
    height: 100vh;
    color: gray;
}

#cont-toolbar {
    width: 80%;
    margin: auto;
}

#toolbar:hover {
    color: white;
}

#logo {
    width:70% ;
    padding-top: 1.5rem;
    margin-bottom:1.5rem ;
}

ul li{
    list-style: none;
}

#toolbar h3 {
    font-size: 1.2rem;
    color: white;
    margin: 1rem 0;
}

 /*DEBUG*/
#add-pyl, ul li {
    width: 6rem;
    height: 1rem;
    background-color:brown;
    margin-bottom: 1rem;
}

/*BANNER*/

/*SCROLL PAGE*/

/*BOTTOM*/
/*PLAY BAR*/
