/*GENERAL RULE STYLE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141922;
}

main {
    font-family: "Montserrat";
    font-size: 12px;
}

h2, h3 {
    color: white;
}

a {
    text-decoration: none;
    color: gray;
}

ul li{
    list-style: none;
    margin-bottom: 1rem;
}

.title-small {
    font-size: 1rem;
    margin: 1.6rem 0 0.5rem;
    color: white;
}

/*TOP*/

#top {
    display: flex;
    height: calc(100vh - 100px);
}

/*TOOLBAR*/
#toolbar {
    width: 250px;
    background-color: black;
    color: gray;
    position: fixed;
    height: calc(100vh - 100px);
}

#cont-toolbar {
    width: 80%;
    margin: auto;
}

#logo {
    width:75% ;
    padding-top: 1.5rem;
    margin-bottom:1.5rem ;
}

#cont-toolbar .fa-solid {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#add-pyl {
    display: flex;
    align-items: center;
}

#add-pyl .fa-solid {
    font-size: 2.5rem;
    margin-right: 0.5rem;
}

#add-pyl span {
    font-size: 0.9rem;
    vertical-align: middle;
}

#playlist {
    margin-top: 1.5rem;
}

#account {
    width: 80%;
    position: absolute;
    bottom: 1rem;
}

#account hr {
    margin: 0.5rem 0 1rem;
}
 #user {
    display: flex;
    align-items: center;
 }

/*RULE MAIN PAGE*/
#main-page{
    width: calc(100vw - 250px);
    margin-left: 250px;    
}

#scroll {
    width: 95%;
    margin:auto;
    margin-top: calc(100px + 1.5rem);
    padding-bottom: calc( 100px + 2rem);
}

/*BANNER*/

.banner {
    height: 100px;
    width: calc(100vw - 250px);
    background-color: rgb(0, 0, 0, 0.35);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

button {
    padding: 0.8rem 3rem;
    border-radius: 25px;
    margin-right: 1rem ;
    background-color: transparent;
    color: white;
    border: solid white 0.1rem;
}

/*SCROLL PAGE*/

.dif-playlist {
    display: flex;
    gap: 1.2rem;
}

.cont-song {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-song img{
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

#scroll a {
    font-size: 1rem;
    font-weight: bold;
    color: grey;
}

#scroll .titles {
    font-size: 1.9rem;
}

.title-gray {
    color: gray;
    font-size: 1.1rem;
    margin-top: -0.5rem;
}

.dif-playlist {
    margin: 2rem 0;
}

.clip {
    clip-path: circle(50%);
}

/*BOTTOM*/
.bottom {
    background-color: #282828;
    width: 100vw;
    height: 100px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}

/*PLAY SECTION*/

#left, #right {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#center {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#song{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#rip {
    width: 30%
}

#rip img {
    width: 100%;
}

#left .fa-regular {
    padding: 0.5rem;
}

#play-button {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
#time div, #right div {
    display: inline-block;
    width: 70%;
    border: solid gray ;
    border-radius: 2px;
}

