/*GENERAL RULE STYLE*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: "Montserrat";
    font-size: 12px;
}

h2, h3 {
    color: white;
    font-size: 1rem;
}

/*TOP*/

#top {
    display: flex;
}

/*TOOLBAR*/
#toolbar {
    width: 200px;
    height: calc(100vh - 200px);
    background-color: black;
    color: gray;
    position: fixed;
    z-index: 2000;
}

#cont-toolbar {
    width: 80%;
    margin: auto;

}

#logo {
    width:70% ;
    padding-top: 1.5rem;
    margin-bottom:1.5rem ;
}

ul li{
    list-style: none;
}

.title-small {
    font-size: 1.2rem;
    margin: 1rem 0;
}

 /*DEBUG*/
#add-pyl, ul li {
    width: 6rem;
    height: 1rem;
    background-color:brown;
    margin-bottom: 1rem;
}

#account {
    position: absolute;
    bottom: 1rem;
}

/*RULE MAIN PAGE*/

#main-page, .banner {
    width: calc(100vw - 200px);
}

#main-page {
    margin-left: 200px;
    background-color: #141922;
}

#scroll {
    width: 95%;
    margin: auto;
    margin-top: calc(100px + 1rem);
}

/*BANNER*/

.banner {
    height: 100px;
    background-color: rgb(0, 0, 0, 0.35);
    position: fixed;
    display: flex;
    z-index: 2000;
    align-items: center;
    justify-content: flex-end;
}

button {
    padding: 1rem 3rem;
    border-radius: 25px;
    margin-right: 1rem ;
    background-color: transparent;
    color: white;
    border: solid white 0.1rem;
}

/*SCROLL PAGE*/

.dif-playlist {
    display: flex;
    gap: 1.2rem;
}

.cont-song {
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-song img{
    width: 100%;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

#scroll a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: grey;
}

#scroll .titles {
    font-size: 1.9rem;
}

.title-gray {
    color: gray;
    font-size: 1.1rem;
    margin-top: -0.5rem;
}

.dif-playlist {
    margin: 2rem 0;
}

.clip {
    clip-path: circle(50%);
}

/*BOTTOM*/
.bottom {
    background-color: #282828;
    width: 100vw;
    height: 200px;
}
/*PLAY SECTION*/
